{:source-paths ["src"
                "target/classes"
                "target/classes/hiccups"
                "target/classes/hiccups/src"
                "target/classes/cljs/hiccups/"
                "target/classes/clj/hiccups/"]

 :dependencies [[binaryage/devtools "0.9.10"]
                [proto-repl "0.3.1"]
                [reagent "0.8.1"]
                [hiccups "0.3.0"]]

 :nrepl        {:port 3333}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main
         {:entries [machi.core]}}

        :devtools
        {:http-root   "public"
         :http-port   8020
         :after-load  machi.core/reload!}}}}
