/* Type-1 */
.multi .carousel-inner .active.left {
  left: -25%;
}
.multi .carousel-inner .next {
  left: 25%;
}
.multi .carousel-inner .prev {
  left: -25%;
}
.multi .carousel-control {
  width: 4%;
}
.multi .carousel-control.left, .multi .carousel-control.right {
  margin-left: 15px;
  background-image: none;
}

/* Type-2 */
.scroll-box {
  display: flex;
  widows: 100%;
  overflow: hidden;
}
.scroll-box:hover {
  overflow: auto;
  overflow-y: hidden;
}
.scroll-box li {
  display: inline-block;
}
.scroll-box a {
  display: block;
  width: 300px;
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  padding: 10px;
  text-align: center;
  margin: 10px;
  color: #282828;
}
.scroll-box a:hover {
  text-decoration: none;
}
.scroll-box a h3 {
  margin-top: 10px;
}
.scroll-box a h1 {
  margin-top: 10px;
  color: orange;
}
.scroll-box a h4 {
  color: #aaa;
  margin-bottom: 15px;
}
.scroll-box a h5 {
  line-height: 20px;
}

/* Heading */
.titles {
  background: orange;
  border: 8px double #fff;
  padding: 10px;
  color: #fff;
}
.titles span {
  color: rgba(255, 255, 255, 0.6);
}